﻿
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
@{ 
    var data = new { Name = ViewData["Name"], Email = ViewData["Email"], Id = ViewData["Id"] };

    <p>
        Name: @data.Name<br />
        @if (data.Email != null)
        {
            <span>Email: @data.Email</span> <br/>
        }
        Id: @data.Id
    </p>
}

