﻿@model PicBook.Web.Models.Photos.FilesViewModel
@{
    ViewData["Title"] = "Albums";
}
<form asp-controller="Photos" asp-action="AddAlbum" method="post">
    Album name: <input type="text" style="width=100%" name="albumName" /><br />
    <button type="submit">Create new album</button>
</form>
<h2>Albums</h2>
@foreach (var item in Model.Albums)
{

    <a asp-action="Index" asp-route-albumname="@item.Name">
        @item.Name
    </a>
}

