﻿@model PicBook.Web.Models.Photos.FilesViewModel
<div style="margin:1%">
    <form asp-controller="Photos" asp-action="index" method="post">
        <input type="text" name="condition" style="width:90%" placeholder="Search picture names and tags" />
        <button type="submit" style="width:9%">GO!</button>
    </form>
</div>
<div style="margin:1%">
    <form asp-controller="Photos" asp-action="Upload" method="post"
          enctype="multipart/form-data">
        <button type="submit">Upload File</button>
    </form>
    </div>
    <center><h1>Photos</h1></center>

    @if (Model != null)
    {
        @if (Model.Files.Count > 0)
        {
            <center>
                @{ int count = 0;}
                @foreach (var item in Model.Files)
                {
                    <a asp-action="ShowPicture"
                       asp-route-filename="@item.Name">
                        <img style="max-width:20%;max-height:150px" title="@item.Title" src="~/photos/ShowImage?filename=@item.Name" />
                    </a>
                    @if (count == 5)
                    {
                        count = 0;  
                        <br/>
                    }

                }
            </center>
        }
        else
        {
            <h3>Sorry, there is nothing to show :(</h3>
        }
    }

