﻿@model PicBook.Web.Models.Photos.FilesViewModel

    @if (Model != null)
    {
        @foreach (var item in Model.Files)
        {
            <div>
                <div style="width:70%; float:left; overflow: hidden; white-space: nowrap;" class="parent">
                    <img style="width:100%; height: 100%" src="~/photos/ShowImage?filename=@item.Name" />
                </div>

                <div style="width:30%; float:left;  overflow: hidden; white-space: nowrap;" class="parent">
                    <form asp-controller="Photos" asp-action="UpdateImageDetails" method="post">
                        <input type="text" name="file" value="@item.Name" hidden />
                        Title: <input type="text" name="title" value="@item.Title" /><br />
                        Tags: <input type="text" style="width=100%"name="tags" value="@item.Tags" /><br />
                        <button type="submit">Update details</button>
                        <select name="album">
                            @foreach (var album in Model.Albums)
                            {
                                <option value="@album.Name">@album.Name</option>
                            }
                        </select> 
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <template>Unfortunatly you don't have the permisson to see this image.</template>

    }

