﻿@model PicBook.Web.Models.Photos.FilesViewModel
<form asp-controller="Photos" asp-action="UploadFiles" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="file" accept="image/*" multiple />
            Title: <input type="text" name="title" />
            Tags: <input type="text" name="tags" />
            <select name="album">
                @foreach (var item in Model.Albums)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select> 
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit">Upload Files</button>
        </div>
    </div>
</form>