﻿@{
    ViewData["Title"] = "Home Page";
}
<center>
    @if (User.Identity.IsAuthenticated)
    {
        var userClaim = User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"));
        var userName = userClaim == null ? "Anonymous" : userClaim.Value;
        <h1>Welcome to our website, @userName.</h1>
    }
    else
    {
        <h1>Wellcome to PicBook</h1>

        <h7>Developped by BruteForce</h7>
    }
</center>
